// fonts
$font-titles: "Merriweather", sans-serif;
$font-main: "OpenSans", sans-serif;
$font-title-preview: "Montserrat", sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$dull-orange: #e17334;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$gunmetal: #54585a;
$footer-color: #6b6b6b;
$white-two: #d8d8d8;
$azure: #00a0f5;
$white: #d5d5d5;
$hospital-green: #a2deaf;
$white-four: #f5f5f5;

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// mixin paleta colores
@mixin palette($background-color1, $background-color2, $background-color3) {
  & .colorOne {
    background-color: $background-color1;
  }
  & .colorTwo {
    background-color: $background-color2;
  }
  & .colorThree {
    background-color: $background-color3;
  }
}
