<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="preview">
      <button class="preview__button" type="reset">
        <span><i class="far fa-trash-alt"></i></span>Reset
      </button>
      <div class="preview__background">
        <div class="preview__card">
          <div class="preview__card--name">
            <div class="line-palette js__line-palette background-color1"></div>
            <h3 class="preview__card--name name color1-dark">
              Vilma picatecla
            </h3>
            <h4 class="preview__card--name profession color1">Front end</h4>
          </div>
          <div
            class="preview__card--img js__profile-image"
            style="
              background-image: url('/static/media/Vilma.4687a23c687bab70cb1a.jpg');
            "
          ></div>
          <div class="preview__card--icons">
            <div class="card-icons js-iconBorder color1-icon-border">
              <a class="linkPhone" href="tel:" target="_blank" rel="noreferrer"
                ><i class="fas fa-mobile-alt js-icon color1-icon"></i
              ></a>
            </div>
            <div class="card-icons js-iconBorder color1-icon-border">
              <a
                class="js-email"
                href="mailto:"
                target="_blank"
                rel="noreferrer"
                ><i class="far fa-envelope js-icon color1-icon"></i
              ></a>
            </div>
            <div class="card-icons js-iconBorder color1-icon-border">
              <a
                class="linkedin-js"
                href="https://www.linkedin.com/in/"
                target="_blank"
                rel="noreferrer"
                ><i class="fab fa-linkedin-in js-icon color1-icon"></i
              ></a>
            </div>
            <div class="card-icons js-iconBorder color1-icon-border">
              <a
                class="github-js"
                href="https://www.github.com/"
                target="_blank"
                rel="noreferrer"
                ><i class="fab fa-github-alt js-icon color1-icon"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
